{% lare_extends "__base.html" "Quickies" "__lare.html" %}
{% block page %}
<div id="page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-3">
                <h2>{% _"Activated" %}</h2>
                <p>
                    {% _"You successfully activated your account. We hope you enjoy our project." %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock page %}
