{% lare_extends "__base.html" "Quickies" "__lare.html" %}
{% block page %}
<div id="page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">{% _ "Imprint" %}</h1>
                <p>Jonas Braun<br>
                    Bienenstück 18<br>
                    56072 Koblenz<br>
                    E-Mail: jonas@iekadou.com<br>
                    Tel: 0160 94858125</p>
                <h3>Haftung für Inhalte</h3>
                <p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit,
                    Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.
                    Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten
                    nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter
                    jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen
                    oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
                    Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen
                    Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt
                    der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
                    Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>

                <h2>Datenschutzerklärung</h2>

                <p>
                    Selbstverständlich beachten wir die gesetzlichen Bestimmungen des Datenschutzgesetzes (BDSG) des Telemediengesetzes (TMG) und anderer datenschutzrechtlicher Bestimmungen.
                </p>

                <h3>Gegenstand des Datenschutzes</h3>

                <p>
                    Gegenstand des Datenschutzes sind personenbezogene Daten. Diese sind nach § 3 Abs. 1 BDSG Einzelangaben über persönlich oder sachliche Verhältnisse einer bestimmten oder bestimmbaren natürlichen Person. Hierunter fallen z. B. Angaben wie Name, Post-Adresse, E-Mail-Adresse oder Telefonnummer, ggf. aber auch Nutzungsdaten wie Ihre IP-Adresse.
                </p>



                <h3>Datensicherheit</h3>

                <p>
                    Ihre personenbezogenen Daten werden durch die Nutzung von HTTPS verschlüsselt und an uns übertragen. Unsere Webseiten sind durch technische Maßnahmen gegen Beschädigung, Zerstörung, unberechtigten Zugriff geschützt.
                </p>



                <h3>Umfang der Datenerhebung, -speicherung und -einsicht</h3>

                <p>
                    Um unsere Internetseite sinnvoll zu nutzen, insbesondere bei dem Verwenden eines Kontaktcodes, werden von Ihnen persönliche Daten erhoben.
                    Abgesehen vom Betreiber dieser Webseite, dessen Kontaktdaten unter Impressum zu finden sind, ist es nur dem Inhaber eines Codes und den verbundenen Kontakten möglich diese Daten zu sehen.
                </p>



                <h3>Daten-Erhebung durch Nutzung von Google-Analytics</h3>

                <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. (''Google'').
                    Google Analytics verwendet sog. ''Cookies'', Textdateien, die auf Ihrem Computer gespeichert werden
                    und die eine Analyse der Benutzung der Website durch Sie ermöglicht. Die durch den Cookie erzeugten
                    Informationen über Ihre Benutzung diese Website (einschließlich Ihrer IP-Adresse) wird an einen Server
                    von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen,
                    um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber
                    zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene
                    Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen,
                    sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten.
                    Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten der Google in Verbindung bringen.
                    Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software
                    verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche
                    Funktionen dieser Website voll umfänglich nutzen können. Durch die Nutzung dieser Website erklären
                    Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art
                    und Weise und zu dem zuvor benannten Zweck einverstanden.

                    Sie können der Erhebung und Speicherung Ihrer Daten jederzeit <a href="http://tools.google.com/dlpage/gaoptout?hl=de" target="blank">widersprechen</a>.</p>
                <p>Diese Website benutzt Google Analytics mit der Zusatzfunktion „anonymizeIP()“. Dies bedeutet, dass IP-Adressen nicht vollständig, sondern nur gekürzt gespeichert und verarbeitet werden, um einen direkten Rückschluss auf die Person auszuschließen.</p>


                <h3>Erhebung und Speicherung von Nutzungsdaten</h3>

                <p>
                    Zur Optimierung unserer Webseite sammeln und speichern wir Daten wie z. B. Datum und Uhrzeit des Seitenaufrufs, die Seite, von der Sie unsere Seite aufgerufen haben, und ähnliches.
                    Dies erfolgt anonymisiert, ohne den Benutzer der Seite persönlich zu identifizieren.
                    Ggf. werden Nutzerprofile mittels eines Pseudonyms erstellt.
                    Auch hierbei erfolgt keine Verbindung zwischen der hinter dem Pseudonym stehenden natürlichen Personen mit den erhobenen Nutzungsdaten zur Erhebung und Speicherung der Nutzungsdaten setzen wir auch Cookies ein.
                    Dabei handelt es sich um kleine Textdateien, die auf Ihrem Computer gespeichert werden und zur Speicherung von statistischen Information wie Betriebssystem, Ihrem Internetbenutzungsprogramm (Browser), IP-Adresse, der zuvor aufgerufene Webseite (Referrer-URL) und der Uhrzeit dienen.
                    Diese Daten erheben wir ausschließlich, zu statistischen Zwecken, um unseren Internetauftritt weiter zu optimieren und unsere Internetangebote noch attraktiver gestalten zu können.
                    Die Erhebung und Speicherung erfolgt ausschließlich in anonymisierter oder pseudonymisierter Form und lässt keinen Rückschluss auf Sie als natürlich Person zu.
                </p>


                <h3>Zweckgebundene Datenverwendung</h3>

                <p>
                    Wir beachten den Grundsatz der zweckgebundenen Daten-Verwendung und erheben, verarbeiten und speichern Ihre personenbezogenen Daten nur für die Zwecke, für die Sie sie uns mitgeteilt haben.
                    Eine Weitergabe Ihrer persönlichen Daten an Dritte erfolgt ohne Ihre ausdrückliche Einwilligung nicht, sofern dies nicht zur Erbringung der Dienstleistung oder zur Vertragsdurchführung notwendig ist.
                    Auch die Übermittlung an auskunftsberechtigte staatliche Institution und Behörden erfolgt nur im Rahmen der gesetzlichen Auskunftspflichten oder wenn wir durch eine gerichtliche Entscheidung zur Auskunft verpflichtet werden.

                    Auch den unternehmensinternen Datenschutz nehmen wir sehr ernst.
                    Unsere Mitarbeiter und die von uns beauftragten Dienstleistungsunternehmen sind von uns zur Verschwiegenheit und zur Einhaltung der datenschutzrechtlichen Bestimmungen verpflichtet worden.
                </p>

                <h3>Auskunft- und Widerrufsrecht</h3>

                <p>
                    Sie erhalten jederzeit ohne Angabe von Gründen kostenfrei Auskunft über Ihre bei uns gespeicherten Daten.
                    Sie können jederzeit Ihre bei uns erhobenen Daten sperren, berichtigen oder löschen lassen.
                    Auch können Sie jederzeit die uns erteilte Einwilligung zur Datenerhebung und Verwendung ohne Angaben von Gründen widerrufen.
                    Wenden Sie sich hierzu bitte an die im Impressum angegebene Kontaktadresse.
                    Wir stehen Ihnen jederzeit gern für weitergehende Fragen zu unserem Hinweisen zum Datenschutz und zur Verarbeitung Ihrer persönlichen Daten zur Verfügung.

                    Beachten sie, dass sich Datenschutzbestimmungen und Handhabungen zum Datenschutz, z. B. bei Google, laufend ändern können.
                    Es ist daher ratsam und erforderlich, sich über Veränderungen der gesetzlichen Bestimmungen und der Praxis von Unternehmen, z. B. Google, laufend zu informieren.
                </p>

                <p>
                    Diese Erklärung wurde mit Hilfe von <a href="http://www.datenschutzerklaerung-online.de/" target="_blank">Datenschutzerklärung</a> erstellt.
                    Falls Sie Fehler oder Inkosistenzen in dieser Datenschutzerklärung finden, teilen Sie uns diese bitte mit. Wenden Sie sich hierzu bitte an die im Impressum angegebene Kontaktadresse.
                    Auch bei Fragen stehen wir Ihnen dort zur Verfügung.
                </p>
                <p><i><a href="http://www.agb.de">Gratis Impressum</a> von agb.de</i></p>
            </div>
        </div>
    </div>
</div>
{% endblock page %}
